body,
html {
  font-family: "Poppins", sans-serif;
  height: auto;
  width: 100%;
  background-color: #181719;
}

* {
  padding: 0px;
  margin: 0px;
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1,
h2,
p,
small,
button,
span {
  color: #ebe4e4;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}

span {
  font-size: 1.5rem;
}

a {
  font-size: 1.8rem;
}

.Header {
  animation: increasing 1s;
  background-color: #181719;
  color: #ebe4e4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header_nav {
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Header_nav-close {
  color: #ebe4e4;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}
.Header_nav-close img {
  width: 40px;
  height: 40px;
  background-color: #ebe4e4;
  border-radius: 100px;
}
.Header_nav-close:hover {
  cursor: pointer;
}

.Main,
.Header_burger {
  padding-inline: 12px;
}

.Header_logo {
  border: solid 1px #ffffff;
  padding: 10px;
  margin-block: 20px;
  margin-left: 12px;
}

.Header_burger span img {
  width: 30px;
  height: 30px;
}
.Header_burger span img:hover {
  cursor: pointer;
}

ul {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
ul li {
  list-style: none;
  margin-bottom: 30px;
}
ul li a {
  color: inherit;
  text-decoration: none;
  margin-bottom: 30px;
}
ul li a:hover {
  border-bottom: solid #ebe4e4 2px;
  font-weight: bold;
}

.Main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 1000px;
  max-width: 2000px;
  width: 100%;
}
.Main_top {
  margin-top: 20px;
  height: 200px;
  width: 100%;
}
.Main_top-text p {
  width: 250px;
  margin-block: 25px;
}
.Main_top-button {
  font-weight: bold;
  margin-block: 25px;
}

.Main_bottom {
  position: relative;
  height: 600px;
}
.Main_bottom-img {
  width: 100%;
  max-width: 820px;
  height: auto;
}
.Main_bottom-card {
  position: absolute;
  bottom: 60px;
  right: 26px;
  width: 300px;
  height: 138px;
  padding: 20px;
  background-color: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Main_bottom-card-title {
  margin-top: 21px;
  margin-bottom: 25px;
}
.Main_bottom-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.Main_bottom-card-top img {
  width: 62.2px;
  height: 62.2px;
  border-radius: 100%;
}
.Main_bottom-card-top small {
  text-align: start;
  font-size: 1.2rem;
}
.Main_bottom-card-top small:nth-child(2) {
  font-size: 1rem;
  color: #828282;
}

.card-top-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

footer small,
a {
  font-size: 1.5rem;
  color: #ebe4e4;
}

footer a:hover {
  color: #181719;
}

@media (min-width: 600px) {
  .Header_logo,
  .Header_burger,
  .Main_top {
    margin-inline: 30px;
  }
  .Main_bottom-img {
    width: 600px;
  }
}
@media (min-width: 820px) {
  .Header_burger {
    display: none;
  }
  .Header_nav {
    display: grid !important;
    height: auto;
    width: auto;
    margin-right: 40px;
  }
  .Header_nav-close {
    display: none;
  }
  .Header_nav ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .Header_nav ul li {
    margin: 0px;
  }
  ul li a {
    font-size: 2rem;
  }
  @keyframes increasing {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes card {
    from {
      right: 50px;
      opacity: 0;
    }
    to {
      right: 26px;
      opacity: 1;
    }
  }
  .Main_top {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Main_top-text {
    animation: increasing 1s;
  }
  .Main_top-text h1 {
    font-size: 8rem;
  }
  .Main_top-text p {
    font-size: 2.5rem;
    width: 90%;
  }
  .Main_top-button span {
    font-size: 2rem;
  }
  .Main_top-button span:hover {
    cursor: pointer;
    border-bottom: solid 2px #ebe4e4;
  }
  .Main_bottom {
    height: 650px;
  }
  .Main_bottom-img {
    animation: increasing 1s;
    width: 820px;
    height: 590px;
  }
  .Main_bottom-card {
    animation: card 0.5s;
    width: 410px;
    height: 189px;
    top: 480px;
  }
  .Main_bottom-card h2 {
    font-size: 2.5rem;
  }
  .Main_bottom-card small {
    font-size: 1.5rem;
  }
  .Main_bottom-card small:nth-child(2) {
    font-size: 1.2rem;
  }
  .Main_bottom-card-top {
    justify-content: space-evenly;
  }
  .Main_bottom-card-top img {
    width: 85px;
    height: 85px;
  }
  footer {
    margin-top: 200px;
  }
  footer small,
  footer a {
    font-size: 2rem;
  }
}
@media (min-width: 1440px) {
  .Main {
    padding: 0px;
    justify-content: space-between;
    min-height: 900px;
  }
  .Main_top {
    align-items: flex-start;
    justify-content: space-between;
    height: 550px;
    width: 410px;
    margin: 0px;
    margin-left: 40px;
  }
  .Main_top-text {
    height: 160px;
  }
  .Main_top-text p {
    width: 410px;
    height: 145px;
  }
  .Main_top-text h1 {
    font-size: 5rem;
  }
  .Main_bottom {
    margin-right: 40px;
  }
  .Main_bottom-card h2 {
    width: 70%;
  }
  .Main_bottom-card img {
    width: 60px;
    height: 60px;
  }
  .Header_logo {
    margin-left: 40px;
  }
  .Footer {
    margin-top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
